body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  max-width: 450px;
  border: 2px solid;
  border-radius: 15px;
  padding: 50px;
  margin: 150px auto;
  overflow: hidden;
  background: rgb(33, 33, 33);
  color: rgb(250, 183, 0);
  font-size: 25px;
}

.textbox {
  border: 1.5px solid rgb(250, 183, 0);
  padding: 10px;
  border-radius: 12px;
}

span {
  color: #fff;
}

.btn-group {
  margin-top: 15px;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: rgb(250, 183, 0);
  color: aliceblue;
  cursor: pointer;
  font-size: 13px;
  margin-right: 10px;
}